Algorythm to generate student table

BEGIN
    // Create lists for both boys and girls  
    INITIALIZE girls_names, girls_age, girls_height, girls_scores  
    INITIALIZE boys_names, boys_age, boys_height, boys_scores  

    // Combine both girls' and boys' lists  
    student_names = girls_names + boys_names  
    student_ages = girls_age + boys_age  
    student_heights = girls_height + boys_height  
    student_scores = girls_scores + boys_scores  

    // Print table header  
    PRINT "********* Student Table **********"  
    PRINT "----------------------------------"  
    PRINT "S/N | Name      | Age | Height | Scores"  
    PRINT "----------------------------------"  

    // Iterate through the lists and print the values  
    FOR i FROM 0 TO LENGTH(student_names) - 1 DO  
        PRINT FORMAT((i + 1), student_names[i], student_ages[i], student_heights[i],            student_scores[i])  
    END FOR  

END

In [13]:
# Program to generate a table of 20 students

# Girls Data
girls_names = ['Evelyn', 'Jessica', 'Somto', 'Edith', "Liza", "Madonna", "Waje", "Tola", "Aisha", "Latifa"]
girls_age = [17, 16, 17, 18, 16, 18, 17, 20, 19, 17]
girls_height = [5.5, 6.0, 5.4, 5.9, 5.6, 5.5, 6.1, 6.0, 5.7, 5.5]
girls_scores = [80, 85, 70, 60, 76, 66, 87, 95, 50, 49]

# Boys Data
boys_names = ["Chinedu", "Liam", "Wale", "Gbenga", "Abiola", "Kola", "Kunle", "George", "Thomas", "Wesley"]
boys_age = [19, 16, 18, 17, 20, 19, 16, 18, 17, 19]
boys_height = [5.7, 5.9, 5.8, 6.1, 5.9, 5.5, 6.1, 5.4, 5.8, 5.7]
boys_scores = [74, 87, 75, 68, 66, 78, 87, 98, 54, 60]

# combining both male and female lists
student_names = girls_names + boys_names
student_ages = girls_age + boys_age
student_height = girls_height + boys_height
student_scores = girls_scores + boys_scores


print("*********Student Table**********")
print("-" * 32)
print(f"{"S/N":>3}|{"Name":<10}|{"Age":>3}|{"Height":>4}|{"Scores":>5}")
print("-" * 32)

# iterating throught the lists
for i in range(0,len(student_names)):
    print(f"{(i + 1):>3}|{student_names[i]:<10}|{student_ages[i]:>3}|{student_height[i]:>6}|{student_scores[i]:>5}")

*********Student Table**********
--------------------------------
S/N|Name      |Age|Height|Scores
--------------------------------
  1|Evelyn    | 17|   5.5|   80
  2|Jessica   | 16|   6.0|   85
  3|Somto     | 17|   5.4|   70
  4|Edith     | 18|   5.9|   60
  5|Liza      | 16|   5.6|   76
  6|Madonna   | 18|   5.5|   66
  7|Waje      | 17|   6.1|   87
  8|Tola      | 20|   6.0|   95
  9|Aisha     | 19|   5.7|   50
 10|Latifa    | 17|   5.5|   49
 11|Chinedu   | 19|   5.7|   74
 12|Liam      | 16|   5.9|   87
 13|Wale      | 18|   5.8|   75
 14|Gbenga    | 17|   6.1|   68
 15|Abiola    | 20|   5.9|   66
 16|Kola      | 19|   5.5|   78
 17|Kunle     | 16|   6.1|   87
 18|George    | 18|   5.4|   98
 19|Thomas    | 17|   5.8|   54
 20|Wesley    | 19|   5.7|   60